@import 'base/base';


@font-face {
  font-family: 'Museo-Bold';
  src: url('../fonts/Museo_Slab_900.otf') format('opentype')
}


@font-face {
  font-family: 'Museo-Light';
  src: url('../fonts/Museo_Slab_300.otf') format('opentype')
}


:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  padding-top:100px;
  font-family: 'Museo-Light';
  font-size: 22px;
  input { outline: none; }
}


h1 {
  font-family: 'Museo-Bold';
  text-align:center;
  margin: 0px 0px 100px;
  font-size: 40px;
  text-decoration: underline;
  color: #E56716;
  transition: all ease .3s; 

  @media screen and (min-width: 40em) {
    font-size: 80px;
  }
}

.container {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  
  .input-header {
    margin-bottom: 18px;
  }

  & input[type="text"]  {
    max-width: 700px;
    width: 100%;
    border-left:0px;
    border-right:0px;
    border-top:0px;
    border-bottom: 1px solid #000;
    font-size:22px;
    font-family: 'Museo-Light';
    margin-bottom: 63px;
    padding:15px 0px 15px 15px;;
  }

  & input:focus {
    outline: none;
  }

  ul {
    padding-left:0px;
    margin:0px;
    list-style-type: none;
    position:relative;
    left:0px;
  }



}

#list {

  .li-inner {
    background-color:#E7F1CC;
    width: 100%;
    min-height: 63px;
    padding: 8.5px 10px 8.5px 10px;
    position: relative;

  }

  li {
    background-color:#E7F1CC;
    margin-bottom: 15px;
  }

  li:last-child .li-inner {
    margin-bottom: 75px;
  }

  span {
    font-family: Verdana;
    padding: 0px;
    display: none;
    position:absolute;
    right:20px;
    top: 15px;
  }


}


.text-list-remove {
  text-align: center;
  text-decoration: underline;
  margin: 0px 0px 150px;
  color:#999999;
}

#remove {
  cursor: pointer;
}




input[type="checkbox"] {
  margin: 0 5px 0 0;
  padding: 0;
  height: 46px;
  width: 46px;
  float: left;
  opacity: 0;

}


label {

  float: left;
  margin-left: 15px;
  line-height: 1.8;
  max-width: 600px;
  width: calc(100% - 66px);
  min-height: 46px;


  &:focus {
    background:white;

  }

}

input + label:before {
  background: url('../img/box-empty.png') 0 -1px no-repeat;
  position: absolute;
  z-index: 2;
  left: 16px;
  content: "\00a0\00a0\00a0";
  overflow: hidden;
  width: 46px;
  height: 46px;
  margin: 0 3px 0 0px;
  pointer-events: none;
  background-position: 0 0px;
}

input:checked + label:before {
  background: url('../img/box-full.png') 0 -1px no-repeat;
  position: absolute;
  z-index: 2;
  left: 16px;
  content: "\00a0\00a0\00a0";
  overflow: hidden;
  width: 46px;
  height: 46px;
  margin: 0 3px 0 0px;
  pointer-events: none;
  background-position: 0 0px;
}

